ZeeBNPPFServices/Web References/BNPServiceLive/IntegratedGatewayHost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://ipfconnect.bnpparibas-pf.co.uk" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegratedGatewayHost" targetNamespace="https://ipfconnect.bnpparibas-pf.co.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="https://ipfconnect.bnpparibas-pf.co.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:https://ipfconnect.bnpparibas-pf.co.uk" />
      <xs:element name="LiveRateQuote">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q1:LiveRateQuoteRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LiveRateQuoteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="LiveRateQuoteResult" type="q2:LiveRateQuoteResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NewBusiness">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q3:NewBusinessRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NewBusinessResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q4="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="NewBusinessResult" type="q4:NewBusinessResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MidTermAdjustment">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q5="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q5:MidTermAdjustmentRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MidTermAdjustmentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q6="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="MidTermAdjustmentResult" type="q6:MidTermAdjustmentResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Cancellation">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q7="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q7:CancellationRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CancellationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q8="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="CancellationResult" type="q8:CancellationResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PolicyStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q9="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q9:PolicyStatusRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PolicyStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q10="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="PolicyStatusResult" type="q10:PolicyStatusResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ServiceStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q11="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q11:ServiceStatusRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ServiceStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q12="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="ServiceStatusResult" type="q12:ServiceStatusResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerAddress">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q13="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q13:EditCustomerAddressRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerAddressResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q14="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="EditCustomerAddressResult" type="q14:EditCustomerAddressResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerBank">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q15="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q15:EditCustomerBankRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerBankResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q16="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="EditCustomerBankResult" type="q16:EditCustomerBankResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerEmail">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q17="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q17:EditCustomerEmailRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerEmailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q18="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="EditCustomerEmailResult" type="q18:EditCustomerEmailResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerPaymentDay">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q19="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q19:EditCustomerPaymentDayRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerPaymentDayResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q20="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="EditCustomerPaymentDayResult" type="q20:EditCustomerPaymentDayResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerPhone">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q21="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q21:EditCustomerPhoneRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditCustomerPhoneResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q22="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="EditCustomerPhoneResult" type="q22:EditCustomerPhoneResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PartnerQuote">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q23="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="request" type="q23:PartnerQuoteRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PartnerQuoteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q24="urn:https://ipfconnect.bnpparibas-pf.co.uk" minOccurs="0" maxOccurs="1" name="PartnerQuoteResult" type="q24:PartnerQuoteResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="urn:https://ipfconnect.bnpparibas-pf.co.uk" elementFormDefault="qualified" targetNamespace="urn:https://ipfconnect.bnpparibas-pf.co.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="LiveRateQuoteRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="LiveRateQuoteRequestType" type="tns:LiveRateQuoteRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeaderWithCredential">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Header">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="UserCredential" type="tns:UserCredential" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Header">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ClientCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ShopCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CostCentre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="UserId" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="SystemType" type="tns:Enums.SystemType" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PartnerTransactionToken" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TransactionRef" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Enums.SystemType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined" />
          <xs:enumeration value="Easicredit" />
          <xs:enumeration value="Ecommerce" />
          <xs:enumeration value="Oam" />
          <xs:enumeration value="QuickQuote" />
          <xs:enumeration value="Telesales" />
          <xs:enumeration value="OnlineInstore" />
          <xs:enumeration value="Ipf" />
          <xs:enumeration value="IpfAssisted" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="UserCredential">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Username" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LiveRateQuoteRequestType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="LiveRateRequestFlag" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LiveRateQuoteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="LiveRateQuoteResponseType" nillable="true" type="tns:ArrayOfRateQuote" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfRateQuote">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="LiveRates" type="tns:RateQuote" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RateQuote">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CreditProductCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Apr" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Term" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="InsuranceType" type="tns:Enums.InsuranceType" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="RopRateType" type="tns:Enums.RopRateType" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="MinDepositRate" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="SelloutRate" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Enums.InsuranceType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined" />
          <xs:enumeration value="PersonalLine" />
          <xs:enumeration value="CommercialLine" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Enums.RopRateType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined" />
          <xs:enumeration value="ProRata" />
          <xs:enumeration value="ShortPeriod" />
          <xs:enumeration value="MinimumAndDeposit" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Error">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Code" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewBusinessRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="NewBusinessRequestType" type="tns:NewBusinessRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewBusinessRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Application" type="tns:Application" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Policy" type="tns:Policy" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Applicant" type="tns:Applicant" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Application">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="InsuranceType" type="tns:Enums.InsuranceType" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsRenewal" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="AllowSearchAuthorisation" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsCustomerPresent" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="HasCustomerDeclaration" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Policy">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PolicyInceptionDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PolicyRenewalDate" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="TotalCashPrice" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Deposit" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CreditProductCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Term" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PreferredPaymentDay" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PolicyPremiumAmount" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="BrokerCreditFeeAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerCreditFeeDescription" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="BrokerFeeAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerFeeAmountDescription" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="AddOnAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AddOnAmountDescription" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="DiscountAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DiscountAmountDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PremiumDescription" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PolicyType" type="tns:Enums.PolicyType" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PolicyNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="InsuranceCompany" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="RopRateType" type="tns:Enums.RopRateType" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsEdiFlag" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Enums.PolicyType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined" />
          <xs:enumeration value="Home" />
          <xs:enumeration value="Motor" />
          <xs:enumeration value="Other" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Applicant">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Customer" type="tns:Customer" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Payment" type="tns:Payment" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Bank" type="tns:BankAccount" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Marketing" type="tns:Marketing" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Commercial" type="tns:Commercial" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Income" type="tns:Income" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Affordability" type="tns:Affordability" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Trading" type="tns:Trading" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Customer">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DateOfBirth" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Nationality" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CountryOfBirth" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PolicyholderName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Address" type="tns:Address" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="YearsAtAddress" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PreviousAddress" type="tns:Address" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Telephone" type="tns:Telephone" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Employment" type="tns:Employment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="HouseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="HouseNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StreetName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Townland" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PostTown" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="County" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="AddressLineOne" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Telephone">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="MobileNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PhoneNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Employment">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EmploymentStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EmploymentLevel" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="IndustrySector" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EmploymentSector" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Payment">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsJointAccount" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsApplicantAccount" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ThirdPartyAccountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ThirdPartyApplicantAddress" type="tns:Address" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BankAccount">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BankAccountNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BankSortCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Iban" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Bic" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Marketing">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsMarketingOptInEmail" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsMarketingOptInSms" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsMarketingOptInPost" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsMarketingOptInPhone" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Commercial">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="BusinessType" type="tns:Enums.CustomerBusinessType" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Partnership" type="tns:Partnership" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="LimitedCompany" type="tns:LimitedCompany" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Enums.CustomerBusinessType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined" />
          <xs:enumeration value="LimitedCompany" />
          <xs:enumeration value="Partnership" />
          <xs:enumeration value="SoleTrader" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Partnership">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CompanyName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BusinessAddress" type="tns:Address" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DateEstablished" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="HasCcj" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BusinessPhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BusinessEmail" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Trading" type="tns:CommercialTrading" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ExceedsThreePartnerShips" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PartnerOne" type="tns:Partner" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PartnerTwo" type="tns:Partner" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PartnerThree" type="tns:Partner" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PartnerFour" type="tns:Partner" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CommercialTrading">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="TradeOutsideUk" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Partner">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PartnerAddress" type="tns:Address" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="YearsAtAddress" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PreviousAddress" type="tns:Address" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DateOfBirth" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Nationality" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CountryOfBirth" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LimitedCompany">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CompanyName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="RegistrationNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TradingAddress" type="tns:Address" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BusinessEmail" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BusinessPhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DirectorOneAuthSignature" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DirectorTwoAuthSignature" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DirectorOneDob" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DirectorOneHomeAddress" type="tns:Address" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DirectorOneCountryOfBirth" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="DirectorTwoDob" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DirectorTwoHomeAddress" type="tns:Address" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="DirectorTwoCountryOfBirth" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Trading" type="tns:CommercialTrading" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Income">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="NetMonthlyIncome" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Affordability">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="NetMonthlyIncome" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="SpousePartnerNetMonthyIncome" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="MonthlyMortgageRentRepayment" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MaritalStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ResidentialStatus" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="NumberOfDependants" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Trading">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PersonalTrading" type="tns:PersonalTrading" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PersonalTrading">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="TradeOutsideUk" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TradingName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewBusinessResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="NewBusinessResponseType" nillable="true" type="tns:NewBusinessResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewBusinessResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Decision" type="tns:Enums.Decision" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Pdf" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Enums.Decision">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined" />
          <xs:enumeration value="Accepted" />
          <xs:enumeration value="Declined" />
          <xs:enumeration value="AcceptInPrincipal" />
          <xs:enumeration value="Refer" />
          <xs:enumeration value="NotComplete" />
          <xs:enumeration value="Void" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Enums.ResponseStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined" />
          <xs:enumeration value="Success" />
          <xs:enumeration value="Fail" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="MidTermAdjustmentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MidTermAdjustmentRequestType" type="tns:MidTermAdjustmentRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MidTermAdjustmentRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="FundingDifference" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsApplyPremium" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MtaReasonDescription" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="MtaFeeAmount" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsEdiFlag" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PolicyNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Affordability" type="tns:Affordability" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MidTermAdjustmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="MidTermAdjustmentResponseType" nillable="true" type="tns:MidTermAdjustmentResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MidTermAdjustmentResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Decision" type="tns:Enums.Decision" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancellationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CancellationRequestType" type="tns:CancellationRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancellationRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ReturnOfPremiumValue" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CancellationReasonType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PolicyCancellationDate" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="InsurerReturnOfPremiumValue" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="RopDeductionAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancellationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="CancellationResponseType" nillable="true" type="tns:CancellationResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancellationResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PolicyStatusRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PolicyStatusRequestType" type="tns:PolicyStatusRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PolicyStatusRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PolicyStatusType" type="tns:Enums.PolicyStatusType" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Enums.PolicyStatusType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined" />
          <xs:enumeration value="PolicyCancelled" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PolicyStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PolicyStatusResponseType" nillable="true" type="tns:PolicyStatusResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PolicyStatusResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceStatusRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ServiceStatusRequestType" type="tns:ServiceStatusRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceStatusRequestType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ProvideStatus" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ServiceStatusResponseType" nillable="true" type="tns:ServiceStatusResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceStatusResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="IsServiceAvailable" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Maintenance" nillable="true" type="tns:Maintenance" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Maintenance">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MaintenanceStart" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MaintenanceEnd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerAddressRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EditCustomerAddressRequestType" type="tns:EditCustomerAddressRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerAddressRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Address" nillable="true" type="tns:Address" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerAddressResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="EditCustomerAddressResponseType" nillable="true" type="tns:EditCustomerAddressResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerAddressResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerBankRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EditCustomerBankRequestType" type="tns:EditCustomerBankRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerBankRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Bank" nillable="true" type="tns:BankAccount" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerBankResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="EditCustomerBankResponseType" nillable="true" type="tns:EditCustomerBankResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerBankResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerEmailRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EditCustomerEmailRequestType" type="tns:EditCustomerEmailRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerEmailRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Email" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerEmailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="EditCustomerEmailResponseType" nillable="true" type="tns:EditCustomerEmailResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerEmailResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerPaymentDayRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EditCustomerPaymentDayRequestType" type="tns:EditCustomerPaymentDayRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerPaymentDayRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PreferredPaymentDay" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerPaymentDayResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="EditCustomerPaymentDayResponseType" nillable="true" type="tns:EditCustomerPaymentDayResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerPaymentDayResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerPhoneRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EditCustomerPhoneRequestType" type="tns:EditCustomerPhoneRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerPhoneRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="BrokerReference" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Telephone" nillable="true" type="tns:Telephone" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerPhoneResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="EditCustomerPhoneResponseType" nillable="true" type="tns:EditCustomerPhoneResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EditCustomerPhoneResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ResponseStatus" type="tns:Enums.ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PartnerQuoteRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:HeaderWithCredential" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PartnerQuoteRequestType" type="tns:PartnerQuoteRequestType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PartnerQuoteRequestType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PolicyPremiumAmount" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Deposit" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CreditProductCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PartnerQuoteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="tns:Header" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PartnerQuoteResponseType" nillable="true" type="tns:PartnerQuoteResponseType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Errors" nillable="true" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PartnerQuoteResponseType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PolicyPremiumAmount" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Deposit" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="CreditAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="CreditProductCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Apr" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Term" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ChargeForCredit" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="TotalAmountPayable" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="InstalmentAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_LiveRateQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:LiveRateQuote" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_LiveRateQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:LiveRateQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_NewBusiness_InputMessage">
    <wsdl:part name="parameters" element="tns:NewBusiness" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_NewBusiness_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_MidTermAdjustment_InputMessage">
    <wsdl:part name="parameters" element="tns:MidTermAdjustment" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_MidTermAdjustment_OutputMessage">
    <wsdl:part name="parameters" element="tns:MidTermAdjustmentResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_Cancellation_InputMessage">
    <wsdl:part name="parameters" element="tns:Cancellation" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_Cancellation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancellationResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_PolicyStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyStatus" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_PolicyStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_ServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceStatus" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_ServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerAddress" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerBank_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerBank" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerBankResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerEmail" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerPaymentDay_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerPaymentDay" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerPaymentDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerPaymentDayResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerPhone" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_EditCustomerPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_PartnerQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:PartnerQuote" />
  </wsdl:message>
  <wsdl:message name="ILuk.Ipf.IntegratedGateway.host_PartnerQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:PartnerQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="ILuk.Ipf.IntegratedGateway.host">
    <wsdl:operation name="LiveRateQuote">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/LiveRateQuote" message="tns:ILuk.Ipf.IntegratedGateway.host_LiveRateQuote_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/LiveRateQuoteResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_LiveRateQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewBusiness">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/NewBusiness" message="tns:ILuk.Ipf.IntegratedGateway.host_NewBusiness_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/NewBusinessResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_NewBusiness_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MidTermAdjustment">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/MidTermAdjustment" message="tns:ILuk.Ipf.IntegratedGateway.host_MidTermAdjustment_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/MidTermAdjustmentResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_MidTermAdjustment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cancellation">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/Cancellation" message="tns:ILuk.Ipf.IntegratedGateway.host_Cancellation_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/CancellationResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_Cancellation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PolicyStatus">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/PolicyStatus" message="tns:ILuk.Ipf.IntegratedGateway.host_PolicyStatus_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/PolicyStatusResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_PolicyStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceStatus">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/ServiceStatus" message="tns:ILuk.Ipf.IntegratedGateway.host_ServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/ServiceStatusResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_ServiceStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomerAddress">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerAddress" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerAddress_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerAddressResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomerBank">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerBank" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerBank_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerBankResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomerEmail">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerEmail" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerEmail_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerEmailResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomerPaymentDay">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerPaymentDay" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerPaymentDay_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerPaymentDayResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerPaymentDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomerPhone">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerPhone" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerPhone_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerPhoneResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_EditCustomerPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PartnerQuote">
      <wsdl:input wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/ILukIpfIntegratedGatewayHost/PartnerQuote" message="tns:ILuk.Ipf.IntegratedGateway.host_PartnerQuote_InputMessage" />
      <wsdl:output wsaw:Action="https://ipfconnect.bnpparibas-pf.co.uk/ILukIpfIntegratedGatewayHost/PartnerQuoteResponse" message="tns:ILuk.Ipf.IntegratedGateway.host_PartnerQuote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host" type="tns:ILuk.Ipf.IntegratedGateway.host">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LiveRateQuote">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/LiveRateQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewBusiness">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/NewBusiness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MidTermAdjustment">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/MidTermAdjustment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancellation">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/Cancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyStatus">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/PolicyStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceStatus">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/ServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerAddress">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerBank">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerEmail">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerPaymentDay">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerPaymentDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerPhone">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartnerQuote">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/ILukIpfIntegratedGatewayHost/PartnerQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegratedGatewayHost">
    <wsdl:port name="BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host" binding="tns:BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host">
      <soap:address location="https://ipf-connect.bnpparibas-pf.co.uk/IntegratedGatewayHost.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>