ZeeBNPPFServices/Web References/BNPServiceDev/IntegratedGatewayHost0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="https://ipfconnect.bnpparibas-pf.co.uk" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegratedGatewayHost" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="https://ipfconnect.bnpparibas-pf.co.uk" location="https://puat-ipf-connect.bnpparibas-pf.co.uk/IntegratedGatewayHost.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host" type="i0:ILuk.Ipf.IntegratedGateway.host">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LiveRateQuote">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/LiveRateQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewBusiness">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/NewBusiness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MidTermAdjustment">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/MidTermAdjustment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancellation">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/Cancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyStatus">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/PolicyStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceStatus">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/ServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerAddress">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerBank">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerEmail">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerPaymentDay">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerPaymentDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerPhone">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/Ilukipfintegratedgatewayhost/EditCustomerPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartnerQuote">
      <soap:operation soapAction="https://ipfconnect.bnpparibas-pf.co.uk/ILukIpfIntegratedGatewayHost/PartnerQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegratedGatewayHost">
    <wsdl:port name="BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host" binding="tns:BasicHttpsBinding_ILuk.Ipf.IntegratedGateway.host">
      <soap:address location="https://puat-ipf-connect.bnpparibas-pf.co.uk/IntegratedGatewayHost.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>